
{% include "header.html" %}


  <div class="container">
    <p></p>
    <h1>Budżet za okres 0<label id="selected-month-label">0</label>/2024</h1>

    <div class="form-floating">
        <select
          class="form-select"
          id="month-select"
          aria-label="Select month"
        ></select>
        <label for="month-select">Zmienić miesiąc?</label>
      </div>
    <p></p>
    <p>Budżet to narzędzie służące do zarządzania finansami, które pomaga w planowaniu i kontrolowaniu przychodów oraz wydatków. Estymacja zarobków umożliwia prognozowanie planowanych dochodów, opierając się na przewidywaniach i planach finansowych. Rzeczywiste zarobki odnoszą się do faktycznych dochodów, które zostały osiągnięte w danym okresie. Estymacja wydatków pozwala szacować przyszłe wydatki, uwzględniając planowane wydatki na różne kategorie i potrzeby. Rzeczywiste wydatki to suma pieniędzy, które faktycznie zostały wydane w określonym czasie. </p>

      <canvas id="myChartest" width="800" height="200"></canvas>
      <canvas id="myChartreal" width="800" height="200"></canvas>
      <table>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-6">
                <table class="table table-unbordered">
                    <thead>
                        <tr>
                            <th>Suma</th>
                            <th>Estymacja</th>

                            <th>Rzeczywiste</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dochody:</td>
                            <td><span id="label-est-income">0</span> PLN</td>

                            <td><span id="label-income">0</span> PLN</td>
                        </tr>
                        <tr>
                            <td>Wydatki:</td>
                            <td><span id="label-est-outcome">0</span> PLN</td>

                            <td><span id="label-outcome">0</span> PLN</td>
                        </tr>
                        <tr>
                            <td>Bilans:</td>
                            <td><span id="label-est-balance">0</span> PLN</td>

                            <td><span id="label-balance">0</span> PLN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</table>
    <p></p>
    <br>
    <div id="table-income" class="table-editable">
      <h3>Przychody <button class="table-add btn btn-success" aria-label="Add Row"><i class="fas fa-plus"></i></button></h3>

      <table id='outcomeTable-incomes' class="table" style="table-layout: fixed;">
        <thead>
          <tr>
            <th>Kategoria</th>
            <th></th>
            <th data-index="11">Estymacja</th>
            <th data-index="12">Wartość rzeczywista</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for value in data %}
            {% if value[0].is_income %}

                  <td id='1' contenteditable="true">{{value[0].name}}</td>
                     <td></td>
                  <td id='3' contenteditable="true">{{value[0].estimated}}</td>

                  <td id='4' contenteditable="true">{% if value[0].amount %}{{ value[0].amount }}{% endif %}</td>


                  <td>
                    <button class="table-up btn btn-primary" aria-label="Move Row Up"><i class="fas fa-arrow-up"></i></button>
                    <button class="table-down btn btn-primary" aria-label="Move Row Down"><i class="fas fa-arrow-down"></i></button>
                    <button class="table-remove btn btn-danger" aria-label="Remove Row"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>


    <br><br>
      <div id="table-outcome" class="table-editable">
        <h3>Wydatki <button class="table-add btn btn-success" aria-label="Add Row"><i class="fas fa-plus"></i></button></h3>

        <table id='outcomeTable-outcome' class="table" style="table-layout: fixed;">
          <thead>
            <tr>
              <th>Kategoria</th>
              <th></th>
              <th>Estymacja</th>
              <th>Wartość rzeczywista</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for value in data %}
            {% if value[0].is_income == 0 %}
                  <td id='5' contenteditable="true">{{value[0].name}}</td>
                      <td></td>

                  <td id='7' contenteditable="true">{% if value[0].estimated %}{{ value[0].estimated }}{% endif %}</td>
                  <td id='8' contenteditable="true">{% if value[0].amount %}{{ value[0].amount }}{% endif %}</td>

                  <td>
                    <button class="table-up btn btn-primary" aria-label="Move Row Up"><i class="fas fa-arrow-up"></i></button>
                    <button class="table-down btn btn-primary" aria-label="Move Row Down"><i class="fas fa-arrow-down"></i></button>
                    <button class="table-remove btn btn-danger" aria-label="Remove Row"><i class="fas fa-trash-alt"></i></button>
                  </td>

                </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>


        <button id="export-btn-outcome" class="btn btn-primary">Zapisz dane</button>

      </div>


<script>

  var $BTN = $("#export-btn-outcome");

var estimatedValues = [

];
var realValues = [];
const labels = [''];

const setIncomesRealColors = [];
const setIncomesEstimatedColors = [];
const setOutcomeRealColors = [];
const setOutcomeEstimatedColors = [];

const redRealColors = ['#4C0000', '#800000', '#B30000', '#E60000', '#FF3333', '#FF6666', '#FF9999', '#FFCCCC', '#FFE6E6', '#FFFFFF'];
const redEstimatedColors = ['#663333', '#804040', '#996666', '#B36666', '#CC9999', '#E69999', '#FFCCCC', '#FFDDDD', '#FFE6E6', '#FFF0F0']
const greenRealColors = ['#004d00', '#006600', '#008000', '#009900', '#00b300', '#00cc00', '#00e600', '#33ff33', '#66ff66', '#99ff99']
const greenEstimatedColors = ['#336633', '#408040', '#669966', '#66b366', '#99cc99', '#99e699', '#ccffcc', '#ddffdd', '#e6ffe6', '#f0fff0']

let i = 0;

  function addDataset(label, data, stack, type){
      let backgroundColor = ['#ffffff'];
      if (typeof data === 'number') {
        data = [data];

    }


      if(type===0 && stack==='Stack 0')
         backgroundColor = setIncomesEstimatedColors[i % 10];
      else if(type===0 && stack==='Stack 1')
        backgroundColor = setOutcomeEstimatedColors[i % 10];
      else if(type===1 && stack==='Stack 0')
         backgroundColor = setIncomesRealColors[i % 10];
      else if(type===1 && stack==='Stack 1')
        backgroundColor = setOutcomeRealColors[i % 10];
      i++;

      let newDataset = {
          type:'bar',
          label:label,
          data:data,
          backgroundColor: backgroundColor,
          stack:stack,
      }

      if(type === 0)
        estimatedValues.push(newDataset);
      else
        realValues.push(newDataset);
  }

function refreshValuePLN() {
    console.log("Refreshing values...");
    var totalEstimatedIncome = 0; // Suma szacowanych dochodów
    var totalRealIncome = 0; // Suma rzeczywistych dochodów
    var totalEstimatedOutcome = 0; // Suma szacowanego budżetu
    var totalRealOutcome = 0; // Suma rzeczywistego budżetu
    var totalEstimatedBalance = 0; // Saldo (szacowane)
    var totalRealBalance = 0; // Saldo (rzeczywiste)
    //wyczyszczenie tablicy przed dodawaniem nowych wartości
    estimatedValues.splice(0, estimatedValues.length);
    realValues.splice(0, realValues.length);


    // Obliczanie sumy szacowanych i rzeczywistych dochodów, wydatków w celu ustalenia koloru
    var incomeTable = document.querySelectorAll('#outcomeTable-incomes tbody tr');

    incomeTable.forEach(function(row) {
        var estimated = parseFloat(row.querySelector('td:nth-child(3)').textContent) || 0; // Szacowana wartość
        var real = parseFloat(row.querySelector('td:nth-child(4)').textContent) || 0; // Rzeczywista wartość
        var name = row.querySelector('td:nth-child(1)').textContent;

        totalEstimatedIncome += estimated;
        totalRealIncome += real;

    });

    var outcomeTable = document.querySelectorAll('#outcomeTable-outcome tbody tr');

    outcomeTable.forEach(function(row) {
        var estimated = parseFloat(row.querySelector('td:nth-child(3)').textContent) || 0; // Szacowana wartość
        var real = parseFloat(row.querySelector('td:nth-child(4)').textContent) || 0; // Rzeczywista wartość
        var name = row.querySelector('td:nth-child(1)').textContent;

        totalEstimatedOutcome += estimated;
        totalRealOutcome += real;

    });

  if(totalEstimatedIncome-totalEstimatedOutcome>0){
      setOutcomeEstimatedColors.splice(0, setOutcomeEstimatedColors.length, ...greenEstimatedColors);
      setIncomesEstimatedColors.splice(0, setIncomesEstimatedColors.length, ...greenEstimatedColors)
    }
    else {
      setOutcomeEstimatedColors.splice(0, setOutcomeEstimatedColors.length, ...redEstimatedColors);
      setIncomesEstimatedColors.splice(0, setIncomesEstimatedColors.length, ...redEstimatedColors);
    }
      // determine colour of REAL balance
    if(totalRealIncome-totalRealOutcome>0){
      setOutcomeRealColors.splice(0, setOutcomeRealColors.length, ...greenRealColors);
      setIncomesRealColors.splice(0, setIncomesRealColors.length, ...greenRealColors);
    }
    else{
      setOutcomeRealColors.splice(0, setOutcomeRealColors.length, ...redRealColors);
      setIncomesRealColors.splice(0, setIncomesRealColors.length, ...redRealColors);
    }

    incomeTable.forEach(function(row) {
        var estimated = parseFloat(row.querySelector('td:nth-child(3)').textContent) || 0; // Szacowana wartość
        var real = parseFloat(row.querySelector('td:nth-child(4)').textContent) || 0; // Rzeczywista wartość
        var name = row.querySelector('td:nth-child(1)').textContent;


        addDataset(name, estimated, 'Stack 0', 0);
        addDataset(name, real, 'Stack 0', 1);
    });
    outcomeTable.forEach(function(row) {
        var estimated = parseFloat(row.querySelector('td:nth-child(3)').textContent) || 0; // Szacowana wartość
        var real = parseFloat(row.querySelector('td:nth-child(4)').textContent) || 0; // Rzeczywista wartość
        var name = row.querySelector('td:nth-child(1)').textContent;


        addDataset(name, estimated, 'Stack 1', 0);
        addDataset(name, real, 'Stack 1', 1);
    });


    myChartEst.update();
    myChartReal.update();

    // Obliczanie salda (szacowanego i rzeczywistego)
    totalEstimatedBalance = totalEstimatedIncome - totalEstimatedOutcome;
    totalRealBalance = totalRealIncome - totalRealOutcome;

    // Aktualizacja wartości na stronie
    $('#label-est-income').text(totalEstimatedIncome.toFixed(2)); // Dochody (szacowane)
    $('#label-income').text(totalRealIncome.toFixed(2)); // Dochody (rzeczywiste)
    $('#label-est-outcome').text(totalEstimatedOutcome.toFixed(2)); // Budżet (szacowany)
    $('#label-outcome').text(totalRealOutcome.toFixed(2)); // Budżet (rzeczywisty)
    $('#label-est-balance').text(totalEstimatedBalance >= 0 ? totalEstimatedBalance.toFixed(2) : '(' + Math.abs(totalEstimatedBalance).toFixed(2) + ')'); // Saldo (szacowane)
    $('#label-balance').text(totalRealBalance >= 0 ? totalRealBalance.toFixed(2) : '(' + Math.abs(totalRealBalance).toFixed(2) + ')'); // Saldo (rzeczywiste)
}


function refreshValuesOnChange() {
    // Obsługa zdarzenia wprowadzania danych w tabeli "Incomes"
    $('#outcomeTable-incomes').on('input', function() {
        refreshValuePLN(); // Wywołanie funkcji odświeżającej wartości
        //labels.push(2137);

    });

    // Obsługa zdarzenia wprowadzania danych w tabeli "Outcome"
    $('#outcomeTable-outcome').on('input', function() {
        refreshValuePLN(); // Wywołanie funkcji odświeżającej wartości
    });
}
function generateMonthOptions() {
    var currentDate = new Date(); // Pobieramy aktualną datę
    var currentYear = currentDate.getFullYear(); // Pobieramy aktualny rok
    var currentMonth = currentDate.getMonth() + 1; // Pobieramy aktualny miesiąc (indeksowany od 0)

    // Pętla od stycznia 2024 do aktualnego miesiąca
    for (var year = 2024; year <= currentYear; year++) {
      // W pierwszym roku (2024) pętla zaczyna się od stycznia
      // W kolejnych latach zaczynamy od stycznia (miesiąc 1)
      // Jeśli jesteśmy w aktualnym roku, kończymy na aktualnym miesiącu
      var startMonth = (year === 2024) ? 1 : 1;
      var endMonth = (year === currentYear) ? currentMonth : 12;

      // Generujemy opcje dla miesięcy w danym roku
      for (var month = startMonth; month <= endMonth; month++) {
        // Tworzymy element option i dodajemy go do menu wyboru
        var option = document.createElement('option');
        option.value = year + '-' + (month < 10 ? '0' : '') + month; // Formatujemy wartość opcji na 'YYYY-MM'
        option.text = (month < 10 ? '0' : '') + month + '/' + year; // Tekst opcji w formacie 'MM/YYYY'
        document.getElementById('month-select').appendChild(option);
      }
    }
  }

  // Wywołujemy funkcję generującą opcje dla menu wyboru miesiąca
  generateMonthOptions();

$(document).ready(function() {
    // Pobierz bieżący miesiąc z bazy danych i ustaw go jako domyślną wartość dla menu rozwijanego
    $.get('/current_month', function(data) {
        $('#month-select').val(data);
        $('#selected-month-label').text(data); // Ustaw wartość etykiety na wybrany miesiąc
    });

    $('#month-select').change(function() {
        var selectedMonth = $(this).val();
        $.post('/update_month', { month: selectedMonth }, function(data) {
            // Po zakończeniu aktualizacji przekieruj na stronę główną
            window.location.reload();
        });
    });
    // Obsługa zdarzenia wprowadzania danych w tabeli "Incomes"
    $('#cashflowTable-incomes').on('input', 'td:eq(2), td:eq(3)', function() {
        refreshValuePLN(); // Wywołanie funkcji odświeżającej wartości
    });

    // Obsługa zdarzenia wprowadzania danych w tabeli "Outcome"
    $('#cashflowTable-outcome').on('input', 'td:eq(2), td:eq(3)', function() {
        refreshValuePLN(); // Wywołanie funkcji odświeżającej wartości
    });
    refreshValuePLN();
   refreshValuesOnChange();
});

$(document).on("click", ".table-add", function () {
  const newRow = "<tr>\n" +
          "            <td contenteditable=\"true\"></td>\n" +
          "            <td contenteditable=\"false\"></td>\n" +
          "            <td contenteditable=\"true\"></td>\n" +
          "            <td contenteditable=\"true\"></td>\n" +
          "            <td>\n" +
          "              <button class=\"table-up btn btn-primary\" aria-label=\"Move Row Up\"><i class=\"fas fa-arrow-up\"></i></button>\n" +
          "              <button class=\"table-down btn btn-primary\" aria-label=\"Move Row Down\"><i class=\"fas fa-arrow-down\"></i></button>\n" +
          "              <button class=\"table-remove btn btn-danger\" aria-label=\"Remove Row\"><i class=\"fas fa-trash-alt\"></i></button>\n" +
          "            </td>\n" +
          "          </tr>";
  // Wybierz odpowiednią tabelę dla dodawania wiersza
  if ($(this).closest("#table-income").length) {
    $(this).closest("#table-income").find("tbody").append(newRow);
  } else if ($(this).closest("#table-outcome").length) {
    $(this).closest("#table-outcome").find("tbody").append(newRow);
  }
});

$(document).on("click", ".table-remove", function () {
    $(this).closest("tr").remove();
  });

$(document).on("click", ".table-up", function () {
    var $row = $(this).closest("tr");
    if ($row.index() === 0) return; // Don't go above the header
    $row.prev().before($row);
  });

$(document).on("click", ".table-down", function () {
    var $row = $(this).closest("tr");
    $row.next().after($row);
  });

//push to db
$BTN.click(function () {
    var names = {};
    const table = document.getElementById('outcomeTable-incomes');
    const table2 = document.getElementById('outcomeTable-outcome');
    var data = [];

    // pushing data from incomes
    for(var i = 1; i < table.rows.length; i++) {
        var row = table.rows[i];
        var name = row.cells[0].innerText.trim();
        var is_income = 1;
        var amount = row.cells[2].innerText.trim();
        var value_pln = row.cells[3].innerText.trim();

        // Check if name is unique
        if (names[name]) {
            alert('"' + name + '" is not unique.');
            return;
        }

        // Adding data to table
        var rowData = {
            name: name,
            is_income: is_income,
            estimated: amount,
            amount: value_pln
        };
        data.push(rowData);
        console.log(rowData);
        // Marking that name is already used.
        names[name] = true;
    }

    // pushing data from outcome
    for(var j = 1; j < table2.rows.length; j++) {

        var row2 = table2.rows[j];
        var name2 = row2.cells[0].innerText.trim();
        var is_income2 = 0;
        var amount2 = row2.cells[2].innerText.trim();
        var value_pln2 = row2.cells[3].innerText.trim();

        // Check if name is unique
        if (names[name2]) {
            alert('"' + name2 + '" is not unique.');
            return;
        }

        // Adding data to table
        var rowData2 = {
            name: name2,
            is_income: is_income2,
            estimated: amount2,
            amount: value_pln2
        };
        data.push(rowData2);
        console.log(rowData2);
        // Marking that name is already used.
        names[name] = true;
    }

    fetch('/budget', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });
  });

  // Ustawienia wykresu
const DATA_COUNT = 7;



const dataEst = {
        labels: labels,
        datasets: estimatedValues,
        };

const dataReal ={
        labels: labels,
        datasets: realValues,
};
const configEst = {
            type: 'bar',
            data: dataEst,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Estymacje'
                    },
                },
                responsive: true,
                interaction: {
                    intersect: false,
                },
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                },
                indexAxis: 'y',
            }
        };

const configReal = {
            type: 'bar',
            data: dataReal,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Rzeczywiste'
                    },
                },
                responsive: true,
                interaction: {
                    intersect: false,
                },
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                },
                indexAxis: 'y',
            }
        };

        // Tworzenie wykresu
        var ctxest = document.getElementById('myChartest').getContext('2d');
        var ctxreal = document.getElementById('myChartreal').getContext('2d');
        var myChartEst = new Chart(ctxest, configEst);
        var myChartReal = new Chart(ctxreal, configReal);

        refreshValuePLN();
</script>




{% include "footer.html" %}
