{% include "header.html" %}

<div class="container">
  <h1>Loan calculator</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text"></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup4"
            placeholder="Start DD-MM-YYYY"
            value="02-04-2005"
          />
          <label for="floatingInputGroup4">Start DD-MM-YYYY</label>
        </div>
        <span class="input-group-text">%</span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup3"
            placeholder="Oprocentowanie"
            value="5"
          />
          <label for="floatingInputGroup3">Oprocentowanie</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text"></span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="Ilość rat"
            value="24"
          />
          <label for="floatingInputGroup2">Ilość rat</label>
        </div>
        <span class="input-group-text">PLN</span>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup1"
            placeholder="Kwota"
            value="21370"
          />
          <label for="floatingInputGroup1">Kwota</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text"></span>
        <div class="form-floating">
          <select class="form-select" id="floatingInputGroup5">
            <option selected disabled>Wybierz rodzaj odsetek</option>
            <option value="malejące">Odsetki malejące</option>
            <option value="stałe">Odsetki stałe</option>
          </select>
          <label for="floatingInputGroup5">Rodzaj odsetek</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-secondary">Podgląd</button>
        <button type="button" id="insercik" class="btn btn-primary">
          Wprowadź
        </button>
      </div>
    </div>
  </div>
  <div id="table" class="table-editable">
    <table id="loansTable" class="table" style="table-layout: fixed">
      <thead>
        <tr>
          <th>Start time</th>
          <th>Interest</th>
          <th>Installments</th>
          <th>Amount</th>
          <th>Type of installments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for value in data %}
        <tr>
    <td id="1" contenteditable="false">{{value[0].start_date}}</td>
    <td id="2" contenteditable="false">{{value[0].interest}}</td>
    <td id="3" contenteditable="false">{{value[0].amount_of_installments}}</td>
    <td id="4" contenteditable="false">{{value[0].loan_value}}</td>
    <td id="5" contenteditable="false">{{value[0].type}}</td>
    <td>

        <button class="table-lookup btn btn-secondary" aria-label="Lookup" data-id="{{value[0].loan_id}}">
            <i class="fa-solid fa-magnifying-glass"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg></i>
        </button>
        <button class="table-remove btn btn-danger" aria-label="Remove Row" data-id="{{value[0].loan_id}}">
            <i class="fas fa-trash-alt" ></i>

        </button>

    </td>
</tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <p></p>
  <div id="previewDiv"></div>

  <script>
    console.log("marker");
    const repaymentPlan = [];
    let repaymentPlanAlert = '';
    function generatePlanStale(interestRate, numberOfPayments, amount, needtopush) {
      console.log("uruchamiam liczenie rat stałych");
      repaymentPlan.splice(0, repaymentPlan.length);
      const monthlyInterestRate = interestRate / 12 / 100;
      console.log(monthlyInterestRate);
      const monthlyPayment =
        (amount * monthlyInterestRate) /
        (1 - Math.pow(1 + monthlyInterestRate, -numberOfPayments));
      console.log(monthlyPayment);
      let plan = "<h3>Plan spłaty kredytu:</h3>";
      let remainingAmount = amount;

      for (let i = 0; i < numberOfPayments; i++) {
        const interestPayment = remainingAmount * monthlyInterestRate;
        const capitalPayment = monthlyPayment - interestPayment;
        remainingAmount -= capitalPayment;
        repaymentPlan.push({
          paymentNumber: i + 1,
          interestPayment: interestPayment,
          capitalPayment: capitalPayment,
          remainingAmount: remainingAmount,
        });
        let nrRaty = i+1;
        repaymentPlanAlert += 'Rata: ' + nrRaty + ', ods: ' + interestPayment.toFixed(2) + ', kap: ' + capitalPayment.toFixed(2) + ', poz: ' + remainingAmount.toFixed(2) + '\n';
      }
      alert(repaymentPlanAlert)
      // console.log(repaymentPlan);
      return 0;
    }

    function generateRepaymentMal(startDate, interestRate, numberOfPayments, amount, needtopush) {
      console.log("uruchamiam liczenie rat malejących");
      repaymentPlan.splice(0, repaymentPlan.length);
      let repaymentPlanAlert = '';
      const monthlyInterestRate = interestRate / 12 / 100;
      const monthlyCapitalPayment = amount / numberOfPayments;

      let remainingAmount = amount;

      for (let i = 0; i < numberOfPayments; i++) {
        const interestPayment = remainingAmount * monthlyInterestRate;
        const totalPayment = monthlyCapitalPayment + interestPayment;
        remainingAmount -= monthlyCapitalPayment;
        repaymentPlan.push({
          paymentNumber: i + 1,
          capitalPayment: monthlyCapitalPayment,
          interestPayment: interestPayment,
          totalPayment: totalPayment,
          remainingAmount: remainingAmount,
        });
        let nrRaty = i+1;
        repaymentPlanAlert += 'Rata: ' + nrRaty + ', ods: ' + interestPayment.toFixed(2) + ', kap: ' + monthlyCapitalPayment.toFixed(2) + ', poz: ' + remainingAmount.toFixed(2) + '\n';
      }
      alert(repaymentPlanAlert)
      console.log(repaymentPlan);
      return 0;
    }
    document
      .querySelector(".btn-secondary")
      .addEventListener("click", function () {
        const startDate = document.getElementById("floatingInputGroup4").value;
        const interestRate = parseFloat(
          document.getElementById("floatingInputGroup3").value
        );
        const numberOfPayments = parseInt(
          document.getElementById("floatingInputGroup2").value
        );
        const amount = parseFloat(
          document.getElementById("floatingInputGroup1").value
        );
        // Generowanie planu spłaty

        if (
          isNaN(interestRate) ||
          isNaN(numberOfPayments) ||
          isNaN(amount) ||
          interestRate <= 0 ||
          numberOfPayments <= 0 ||
          amount <= 0
        ) {
          alert(
            "Wprowadź poprawne dane: Oprocentowanie, Ilość rat i Kwota muszą być liczbami większymi od zera."
          );
          return; // Przerwij funkcję w przypadku błędnych danych
        }

        // Walidacja daty w formacie dd-mm-yyyy
        const dateRegex = /^\d{2}-\d{2}-\d{4}$/; // Regex dla daty w formacie dd-mm-yyyy
        if (!dateRegex.test(startDate)) {
          alert("Wprowadź poprawny format daty: dd-mm-yyyy.");
          return; // Przerwij funkcję w przypadku nieprawidłowego formatu daty
        }

        const selectedOption = document.getElementById(
          "floatingInputGroup5"
        ).value;
        if (selectedOption === "malejące") {
          generateRepaymentMal(interestRate, numberOfPayments, amount);
        } else if (selectedOption === "stałe") {
          generatePlanStale(interestRate, numberOfPayments, amount);
        } else {
          alert("Proszę wybrać rodzaj odsetek.");
        }
      });

    document.addEventListener("DOMContentLoaded", function () {
      console.log("ehhh");
      // Nasłuchiwanie kliknięcia na przycisk "Wprowadź"
      document
        .querySelector(".btn-primary")
        .addEventListener("click", function () {
          // Pobieranie danych
          const startDate = document.getElementById(
            "floatingInputGroup4"
          ).value;
          const interestRate = parseFloat(
            document.getElementById("floatingInputGroup3").value
          );
          const numberOfPayments = parseInt(
            document.getElementById("floatingInputGroup2").value
          );
          const amount = parseFloat(
            document.getElementById("floatingInputGroup1").value
          );
          const selectedOption = document.getElementById('floatingInputGroup5').value;
          console.log("selected option: "+ selectedOption)
           let typeOfInstallments;
              if (selectedOption === 'malejące') {
                  typeOfInstallments = 'mal';
              } else if (selectedOption === 'stałe') {
                  typeOfInstallments = 'st';
              } else {
                  // Obsługa przypadku, gdy nie wybrano żadnej opcji lub wartość jest inna niż 'malejące' lub 'stałe'
                  typeOfInstallments = ''; // Tutaj możesz wpisać domyślną wartość lub obsługę błędu
              }

          // Walidacja danych
          if (
            isNaN(interestRate) ||
            isNaN(numberOfPayments) ||
            isNaN(amount) ||
            interestRate <= 0 ||
            numberOfPayments <= 0 ||
            amount <= 0
          ) {
            alert(
              "Wprowadź poprawne dane: Oprocentowanie, Ilość rat i Kwota muszą być liczbami większymi od zera."
            );
            return; // Przerwij funkcję w przypadku błędnych danych
          }

          // Walidacja daty w formacie dd-mm-yyyy
          const dateRegex = /^\d{2}-\d{2}-\d{4}$/; // Regex dla daty w formacie dd-mm-yyyy
          if (!dateRegex.test(startDate)) {
            alert("Wprowadź poprawny format daty: dd-mm-yyyy.");
            return; // Przerwij funkcję w przypadku nieprawidłowego formatu daty
          }

          console.log(startDate, interestRate, numberOfPayments, amount);

          // Tutaj można wywołać funkcję do generowania planu spłaty lub inne operacje na danych
          // np. generatePlanStale(interestRate, numberOfPayments, amount);
          var dataToPush = []
          const data = {
            start: startDate,
            interest: interestRate,
            installments: numberOfPayments,
            amount: amount,
            typeOfInstallments: typeOfInstallments,
          };
          dataToPush.push(data);
          // Przygotowanie danych do wysłania jako formularz POST
          const formData = new FormData();
          formData.append("data", JSON.stringify(data));

          // Wysłanie danych za pomocą metody POST
          fetch("/loans", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToPush)
          })
          // Utworzenie nowego wiersza w tabeli HTML
            const tableBody = document.querySelector("#loansTable tbody");
            const newRow = tableBody.insertRow();
            newRow.innerHTML = `
                <td>${startDate}</td>
                <td>${interestRate}</td>
                <td>${numberOfPayments}</td>
                <td>${amount}</td>
                <td>${typeOfInstallments}</td>
                <td>
                I'm new ✨✨✨
                </td>
            `;

            // Wyczyść wartości pól formularza
            document.getElementById("floatingInputGroup4").value = "";
            document.getElementById("floatingInputGroup3").value = "";
            document.getElementById("floatingInputGroup2").value = "";
            document.getElementById("floatingInputGroup1").value = "";
            document.getElementById('floatingInputGroup5').value = "";
        });
    });

$(document).on("click", ".table-remove", function() {
      console.log('teraz wyswietlam id');
      if(confirm("na pewno?")) {
        var id = event.target.dataset.id; // Pobierz identyfikator rekordu z atrybutu data-id przycisku usuwania
        console.log(id);
        // Wyślij żądanie DELETE do serwera, aby usunąć rekord
        fetch("/delete_record", {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({id: id})
        })
        event.target.closest("tr").remove();
      }
});



// Obsługa kliknięcia przycisków "Podgląd"
$('.container').on("click", ".table-lookup", function () {
    // Pobierz identyfikator wiersza (loan_id) z atrybutu data-id przycisku
    var loanId = $(this).data("id");
    console.log(loanId)
    // Znajdź wiersz tabeli odpowiadający klikniętemu przyciskowi
    var row = $(this).closest("tr");


    // Pobierz dane z komórek w danym wierszu
    var startDate = row.find("td:nth-child(1)").text();
    var interestRate = row.find("td:nth-child(2)").text();
    var numberOfPayments = row.find("td:nth-child(3)").text();
    var amount = row.find("td:nth-child(4)").text();
    var typeOfInstallments = row.find("td:nth-child(5)").text();
    // Wywołaj odpowiednią funkcję w zależności od rodzaju odsetek
    if (typeOfInstallments === 'mal') {
        generateRepaymentMal(parseFloat(interestRate), parseInt(numberOfPayments), parseFloat(amount));
    } else if (typeOfInstallments === 'st') {
        generatePlanStale(parseFloat(interestRate), parseInt(numberOfPayments), parseFloat(amount));
    } else {
        alert('Proszę wybrać rodzaj odsetek.');
    }
});

// $('.container').on("click", ".table-lookup", function() {
//     var id = event.target.dataset.id;
//     var details = JSON.parse(event.target.dataset.details);
//     console.log(details);
//     // Tutaj możesz wyświetlić szczegóły w dowolny sposób, na przykład poprzez wyświetlenie alertu
//     alert("Szczegóły spłaty: " + JSON.stringify(details));
// });
    // Funkcja do generowania planu spłaty

    //console.log(repaymentPlan);

    // return 0;
    // console.log("todo tutaj mamy")
    // return 'not yet developed'

    // dev only
    // let interestRate = 5;
    // let numberOfPayments = 10;
    // let amount = 10000;
    // console.log("borjar?");
    // generatePlanStale(interestRate, numberOfPayments, amount);
    // generateRepaymentMal(interestRate, numberOfPayments, amount);
    // dev only
  </script>

  {% include "footer.html" %}
</div>
