
{% include "header.html" %}

<p></p>
<div class="container">
      <div class="box" >
	<h1>Zarejestruj się</h1>
    <form action="{{ url_for('register') }}" method="post">
    	<input type="text" name="name" placeholder="Nazwa" required="required" />
		<input type="email" name="email" placeholder="E-mail" required="required" />
        <input type="password" name="password" placeholder="Hasło" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Zarejestruj</button>
    </form>
</div>
</div>

{% include "footer.html" %}
