{% include "header.html" %}
<div class="container">
<p></p>
    <h1>Statystyki</h1>
<div style="display: flex; flex-wrap: wrap;">
    <div style="width: 50%; padding: 10px;">
        <canvas id="chartAssets" width="400" height="300"></canvas>
    </div>
    <div style="width: 50%; padding: 10px;">
        <canvas id="chartIncome" width="400" height="300"></canvas>
    </div>
    <div style="width: 50%; padding: 10px;">
        <canvas id="chartExpenses" width="400" height="300"></canvas>
    </div>
    <div style="width: 50%; padding: 10px;">
        <canvas id="chartBalance" width="400" height="300"></canvas>
    </div>
</div>
</div>
<script>
    const json_data = {{ data | tojson }};

    // Mapowanie numerów miesięcy na nazwy
    const monthNames = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"];

    // Pełny zestaw etykiet (miesiące)
    const labels = monthNames;

    // Funkcja pomocnicza do pobierania danych dla danego typu (assets, income, expenses, balance)
function getData(type, key) {
        const dataMap = Array(12).fill(0); // Inicjalizujemy tablicę z 12 zerami
        json_data[type].forEach(item => {
            if (item.period <= 12) { // Upewniamy się, że period mieści się w zakresie 1-12
                dataMap[item.period - 1] = item[key] || 0; // Jeśli item[key] jest undefined lub null, używamy 0
            }
        });
        return dataMap;
    }

    // Wykres Aktywów
    const dataAssets = {
        labels: labels,
        datasets: [{
            label: 'Total Value PLN',
            data: getData('assets', 'total_value_pln'),
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
        }]
    };
    const configAssets = {
        type: 'bar',
        data: dataAssets,
        options: {
            responsive: true,
            plugins: {
                legend: false,
                title: { display: true, text: 'Aktywa' }
            }
        },
    };
    var ctxAssets = document.getElementById('chartAssets').getContext('2d');
    var chartAssets = new Chart(ctxAssets, configAssets);

    // Wykres Dochodów
    const dataIncome = {
        labels: labels,
        datasets: [{
            label: 'Total Income',
            data: getData('income', 'total_income'),
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
        }]
    };
    const configIncome = {
        type: 'bar',
        data: dataIncome,
        options: {
            responsive: true,
            plugins: {
                legend: false,
                title: { display: true, text: 'Dochody' }
            }
        },
    };
    var ctxIncome = document.getElementById('chartIncome').getContext('2d');
    var chartIncome = new Chart(ctxIncome, configIncome);

    // Wykres Wydatków
    const dataExpenses = {
        labels: labels,
        datasets: [{
            label: 'Total Expenses',
            data: getData('expenses', 'total_expenses'),
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
        }]
    };
    const configExpenses = {
        type: 'bar',
        data: dataExpenses,
        options: {
            responsive: true,
            plugins: {
                legend: false,
                title: { display: true, text: 'Wydatki' }
            }
        },
    };
    var ctxExpenses = document.getElementById('chartExpenses').getContext('2d');
    var chartExpenses = new Chart(ctxExpenses, configExpenses);

    // Wykres Bilansu
    const dataBalance = {
        labels: labels,
        datasets: [{
            label: 'Balance',
            data: getData('balance', 'balance'),
            backgroundColor: 'rgba(153, 102, 255, 0.5)',
            borderColor: 'rgba(153, 102, 255, 1)',
            borderWidth: 1,
        }]
    };
    const configBalance = {
        type: 'bar',
        data: dataBalance,
        options: {
            responsive: true,
            plugins: {
                legend: false,
                title: { display: true, text: 'Bilans' }
            }
        },
    };
    var ctxBalance = document.getElementById('chartBalance').getContext('2d');
    var chartBalance = new Chart(ctxBalance, configBalance);
</script>

{% include "footer.html" %}
